In [14]:
import pandas as pd
df = pd.read_csv('water.txt', sep='\t')
df.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

1) Используя метод .describe() вычислите описательные статистики для северных и
южных городов. Сравните средние значения смертности в северных и южных
городах и значения концентрации кальция в питьевой воде.

In [15]:
print(df.loc[df.location == 'South'].describe())
print(df.loc[df.location == 'North'].describe())

         mortality    hardness
count    26.000000   26.000000
mean   1376.807692   69.769231
std     140.269175   40.360682
min    1096.000000    5.000000
25%    1259.250000   40.250000
50%    1364.000000   75.500000
75%    1485.750000   99.750000
max    1627.000000  138.000000
         mortality   hardness
count    35.000000  35.000000
mean   1633.600000  30.400000
std     136.936911  26.134494
min    1378.000000   6.000000
25%    1557.500000  12.500000
50%    1637.000000  17.000000
75%    1718.000000  44.000000
max    1987.000000  94.000000

2) Постройте 95% доверительные интервалы для средней годовой смертности по
всем южным и северным городам. Отличаются ли границы интервалов?

In [16]:
from statsmodels.stats.weightstats import _tconfint_generic
import numpy as np

dfn = df.loc[df.location == 'North']
dfs = df.loc[df.location == 'South']
mort_mean_N = dfn.mortality.mean()
mort_mean_S = dfs.mortality.mean()
mort_mean_std_N = dfn.mortality.std() / np.sqrt(dfn.mortality.shape[0])
mort_mean_std_S = dfs.mortality.std() / np.sqrt(dfs.mortality.shape[0])
print('North 95%:', _tconfint_generic(mort_mean_N, mort_mean_std_N, dfn.mortality.shape[0] - 1, 0.05, 'two-sided'))
print('South 95%:', _tconfint_generic(mort_mean_S, mort_mean_std_S, dfs.mortality.shape[0] - 1, 0.05, 'two-sided'))

North 95%: (1586.5605251961385, 1680.6394748038613)
South 95%: (1320.1517462936238, 1433.463638321761)

3) Постройте 95% доверительные интервалы для средней концентрации кальция в
питьевой воде для южных и северных городов. Отличаются ли границы
интервалов?

In [17]:
hard_mean_N = dfn.hardness.mean()
hard_mean_S = dfs.hardness.mean()
hard_mean_std_N = dfn.hardness.std() / np.sqrt(df.hardness.shape[0])
hard_mean_std_S = dfs.hardness.std() / np.sqrt(df.hardness.shape[0])
print('North 95%:', _tconfint_generic(hard_mean_N, hard_mean_std_N, dfn.hardness.shape[0] - 1, 0.05, 'two-sided'))
print('South 95%:', _tconfint_generic(hard_mean_S, hard_mean_std_S, dfs.hardness.shape[0] - 1, 0.05, 'two-sided'))

North 95%: (23.59974601640619, 37.20025398359381)
South 95%: (59.126244549564035, 80.41221698889751)

4) Какие можно сделать выводы?<br>
На севере доверительные интервалы смертности и содержания кальция меньше, чем на юге